:root {
    --yellow: #f4c20d;
}

.symbol {
    font-family: monospace;
    height: 1em;
    width: 1em;
    text-align: center;
    border-right: 5px solid transparent;
    color: black;
    padding-top: .1em;
    padding-bottom: .2em;
}

.symbol.consumed {
    color: #aaaaaa;
}

.symbol.consuming {
    animation: background-blink .5s infinite;
}

.symbol.cursor-blinking {
    animation: cursor-blink .5s infinite;
}

.end.symbol {
    width: 1em;
    color: transparent;
}

.end.symbol.accepted.consumed {
    color: #3cba54;
}

.end.symbol.rejected.consumed {
    color: #db3236;
}

.start.symbol {
    width: 1em;
}

.input-tape {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 85vh;
    left: 17vw;
    background-color: #4885ed44;
    height: 1em;
    width: 83vw;
    pointer-events: none;
    padding-bottom: .3em;
    margin-top: .1em;
}

.slide-container {
    font-size: 50px;
    top: calc(85vh + 1.4em);
    left: 17vw;
    width: 83vw;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
}

/* The slider itself */
.slider {
    font-size: 50px;
    -webkit-appearance: none;  /* Override default CSS styles */
    height: 25px; /* Specified height */
    outline: none; /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid var(--yellow);
    cursor: ew-resize; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--yellow);
    cursor: ew-resize; /* Cursor on hover */
}

.network {
    position: absolute;
    top: 0;
    left: 17vw;
    width: 83vw;
    height: 85vh;
}

.panel {
    position: absolute;
    width: 15vw;
    height: 100vh;
    background-color: #4885ed44;
    margin-left: 2vw;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
}

@keyframes cursor-blink {
    0% { border-right-color: var(--yellow); }
    50% { border-right-color: transparent; }
    100% { border-right-color: var(--yellow); }
}

@keyframes background-blink {
    0% { background-color: var(--yellow); }
    50% { background-color: transparent; }
    100% { background-color: var(--yellow); }
}

.hidden {
    display: none;
}

button.disabled {
    pointer-events: visibleFill;
    cursor: not-allowed;
    filter: brightness(.5);
}
